.form-group {
    width: 400px;
    height: 80px;
    margin: auto;

}

label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 15px;
}
input{
    display: block;
    width: 100%;
}

button{
    display: block;
    width: 50%;
    height: 40px;
    background-color: slategray;
    color: white;
    border: 0px;
    margin-top: 10px;
}
.danger{
    color: red;
    width: 100%;
    text-align: center;

}